<div *ngIf="pub" class="container pub-manage">
  <div class="row">
    <div class="sections">
      <ul class="nav nav-pills">
        <li role="presentation" [class.active]="section === 'offers'"
            class="col-xs-6 col-sm-3"
        >
          <a (click)="show('offers')">Oferta</a>
        </li>
        <li role="presentation" [class.active]="section === 'events'"
            class="col-xs-6 col-sm-3"
        >
          <a (click)="show('events')">Wydarzenia</a>
        </li>
        <li role="presentation" [class.active]="section === 'main'"
            class="col-xs-6 col-sm-3"
        >
          <a (click)="show('main')">Strona główna</a>
        </li>
      </ul>
      <pub-manage-offers    *ngIf="section === 'offers'" [pub_id]="pub.id"></pub-manage-offers>
      <pub-manage-events    *ngIf="section === 'events'" [pub_id]="pub.id"></pub-manage-events>
      <pub-manage-main-page *ngIf="section === 'main'"   [pub_id]="pub.id"></pub-manage-main-page>
    </div>
  </div>
</div>
