$text-color: #e5e5e5;
$text-dark: #333;
$bg-dark: #3F3939;
$bg-yellow: rgba(220, 200, 20, 0.75);
$bg-white: rgba(255, 255, 255, 0.3);

$border-grey: #ddd;

$xs-max: 767px;
$sm-max: 991px;

button {
  color: $text-color;
  background-color: $bg-dark;

  &:hover { color: $text-color }
}
