<div class="events list-group">
	<button type="button" *ngFor="let event of events" class="list-group-item">
		<h3 class="list-group-item-heading">{{event.name}}</h3>
		<p class="list-group-item-text">
      <strong>Start:</strong>
      {{event.date | date: 'dd.MM.yyyy HH:mm'}}
    </p>
		<p class="list-group-item-text">
			{{event.description}}
		</p>
		<p *ngIf="full_options" class="edit">
			<a [routerLink]="['event', event.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
		</p>
	</button>
</div>
