@import '../../../common/styles/main';

.events {
  margin-top: 10px;

  .list-group-item {
    background-color: $bg-white;
    cursor: auto;

    .list-group-item-text {
      color: $text-dark;
    }

    .edit {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;

      a { color: green; }
    }
  }
}
