@import '../../common/styles/main';

.pub-list {
  .pub-name {
    cursor: pointer;
  }

  td span {
    cursor: pointer;

    &.edit { color: green; }
    &.delete { color: red; }
  }

  .create-pub {
    margin: 10px 0;
  }
}
