<div class="container home">
  <div class="row">
    <div class="sections">
      <ul class="nav nav-pills">
        <li role="presentation" [class.active]="section === 'notifications'"
            class="col-xs-6 col-sm-3"
        >
          <a (click)="show('notifications')">Co się dzieje?</a>
        </li>
        <li role="presentation" [class.active]="section === 'subscriptions'"
            class="col-xs-6 col-sm-3"
        >
          <a (click)="show('subscriptions')">Subskrypcje ({{user.subscriptions}})</a>
        </li>
        <li role="presentation" [class.active]="section === 'comments'"
            class="col-xs-6 col-sm-3"
        >
          <a (click)="show('comments')">Twoje opinie ({{ user.comments }})</a>
        </li>
        <li role="presentation" [class.active]="section === 'settings'"
            class="col-xs-6 col-sm-3"
        >
          <a (click)="show('settings')">Ustawienia konta</a>
        </li>
      </ul>
      <user-notifications *ngIf="section === 'notifications'" [user_id]="user.id"></user-notifications>
      <user-subscriptions *ngIf="section === 'subscriptions'" [user_id]="user.id"></user-subscriptions>
      <user-comments      *ngIf="section === 'comments'"      [user_id]="user.id"></user-comments>
      <user-settings      *ngIf="section === 'settings'"      [user_id]="user.id"></user-settings>
    </div>
  </div>
</div>
