<div class="container register">
  <div *ngIf="!registered" class="row">
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm"
          class="form col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
    >
      <div class="form-group">
        <label for="email">E-mail</label>
        <input [(ngModel)]="register_user.email" #email="ngModel"
               name="email" class="form-control" required validateEmail
        >
        <div *ngIf="!(email.valid || email.untouched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.invalidFormat">Nieprawidłowy format adresu email</div>
        </div>
        <div *ngIf="error_messages.email" class="alert alert-danger">
          <div *ngFor="let error of error_messages.email">
            "{{register_user.email}}" {{error}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="login">Login</label>
        <input [(ngModel)]="register_user.login" #login="ngModel"
               name="login" class="form-control" required maxlength="20"
        >
        <div *ngIf="!(login.valid || login.untouched)" class="alert alert-danger">
          <div class="email.errors.required">Login jest wymagany</div>
        </div>
        <div *ngIf="error_messages.login" class="alert alert-danger">
          <div *ngFor="let error of error_messages.login">
            "{{register_user.login}}" {{error}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input [(ngModel)]="register_user.password" #pass="ngModel"
               type="password" name="password" class="form-control" required minlength="8"
        >
        <div *ngIf="!(pass.valid || pass.untouched)" class="alert alert-danger">
          <div class="pass.errors.required">Hasło jest wymagane</div>
          <div class="pass.errors.minlength">Hasło musi mieć co najmniej 8 znaków</div>
        </div>
      </div>
      <button class="btn col-xs-12" [disabled]="!registerForm.form.valid">Zarejestruj</button>
    </form>
  </div>
  <div *ngIf="registered" class="row text-center after-register">
    <h2>Dziękujemy za rejestrację, jesteś teraz zalogowany jako <strong>{{register_user.login}}</strong></h2>
    <br/>
    <h3>Za chwilę nastąpi przekierowanie na stronę główną.</h3>
  </div>
</div>
