@import '../../common/styles/main';

.pub-show {
  background-color: $bg-yellow;
  border: 3px solid $border-grey;
  @media screen and (min-width: $sm-min) { border-radius: 15px; }

  .pub-header {
    .name {
      @media screen and (max-width: $xs-max) { text-align: center; }
    }

    .subscribe {
      margin-top: 20px;
      @media screen and (max-width: $xs-max) { width: 100%; }
    }
  }

  .pub-details {
    margin-top: 30px;

    .main-picture {
      background-color: white;
      height: 200px;
    }

    .address-and-contact {
      margin: 20px auto;
      word-wrap: break-word;

      .address, .email, .phone {
        padding: 0 15px;

        width: 100%;
        p {
          @media screen and (min-width: $sm-max) { display: inline-block; }
          strong { display: inline-block; width: 60px; }
        }
      }
    }

    .sections {
      .nav {
        margin-top: 30px;
        li {
          a {
            color: $text-dark;
            &:hover { cursor: pointer; }
          }
          &.active a {
            background-color: white;
          }
        }
      }
    }
  }
}
