<div *ngIf="pub" class="container pub-show">
  <div class="row pub-header">
    <div class="name col-xs-12 col-sm-8">
      <h1>{{pub.name}}</h1>
    </div>
    <div *ngIf="loggedUser()" class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
      <button *ngIf="!is_subscribed" (click)="subscribe()" class="subscribe btn pull-right" type="button">Subskrybuj</button>
      <button *ngIf="is_subscribed" class="subscribe btn pull-right disabled" type="button">Zasubskrybowano</button>
    </div>
    <div class="col-sm-2 hidden-xs">
      <h2 class="pull-right">{{ (pub.rating | number: '.1-1') || "brak ocen" }}</h2>
    </div>
  </div>
  <div class="row pub-details">
    <div class="col-xs-12 col-sm-4">
      <div class="main-picture"></div>
      <div class="address-and-contact">
        <div class="row address">
          <p><strong>Adres:</strong></p>
          <p>{{pub.city}}, {{pub.address}}</p>
        </div>
        <div class="row email">
          <p><strong>Email:</strong></p>
          <p>{{pub.email || "brak"}}</p>
        </div>
        <div class="row phone">
          <p><strong>Telefon:</strong></p>
          <p>{{pub.phone || "brak"}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="description">{{pub.description}}</div>
      <div class="sections">
        <ul class="nav nav-pills">
          <li role="presentation" [class.active]="section === 'offer'">
            <a (click)="show('offer')">Oferta</a>
          </li>
          <li role="presentation" [class.active]="section === 'events'">
            <a (click)="show('events')">Wydarzenia ({{ pub.events }})</a>
          </li>
          <li role="presentation" [class.active]="section === 'comments'">
            <a (click)="show('comments')">Opinie ({{ pub.comments }})</a>
          </li>
        </ul>
        <pub-show-offer    *ngIf="section === 'offer'"    [pub_id]="pub.id"></pub-show-offer>
        <pub-show-events   *ngIf="section === 'events'"   [pub_id]="pub.id"></pub-show-events>
        <pub-show-comments *ngIf="section === 'comments'" [pub_id]="pub.id" [comments_number]="pub.comments"></pub-show-comments>
      </div>
    </div>
  </div>
</div>
