<div *ngIf="event" class="container new-event">
  <div class="row">
    <form (ngSubmit)="onSubmit()" #newForm="ngForm"
          class="form col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
    >
      <div class="form-group">
        <label for="name">Nazwa wydarzenia</label>
        <input [(ngModel)]="event.name" name="name" #name="ngModel" class="form-control" required>
      </div>
      <div *ngIf="!(name.valid || name.untouched)" class="alert alert-danger">
        Nazwa wydarzenia jest wymagana
      </div>
      <div class="form-group">
        <label for="desc">Opis wydarzenia</label>
        <textarea [(ngModel)]="event.description" #desc="ngModel" name="desc" class="form-control" required></textarea>
      </div>
      <div *ngIf="!(desc.valid || desc.untouched)" class="alert alert-danger">
        Opis wydarzenia jest wymagany
      </div>
      <div *ngIf="date" class="form-group">
        <label for="year">Rok</label>
        <select class="form-control" [(ngModel)]="date.year" name="year">
          <option *ngFor="let year of range(2016, 2018)" [value]="year">
            {{year}}
          </option>
        </select>
        <label for="month">Miesiąc</label>
        <select class="form-control" [(ngModel)]="date.month" name="month">
          <option *ngFor="let month of range(1, 12)" [value]="month">
            {{month}}
          </option>
        </select>
        <label for="day">Dzień</label>
        <select class="form-control" [(ngModel)]="date.day" name="day">
          <option *ngFor="let day of range(1, 31)" [value]="day">
            {{day}}
          </option>
        </select>
        <label for="hour">Początek o godzinie</label>
        <select class="form-control" [(ngModel)]="date.hour" name="hour">
          <option *ngFor="let hour of range(0, 23)" [value]="hour">
            {{hour}}
          </option>
        </select>
        <div *ngIf="error_messages.date" class="alert alert-danger">
          Data {{error_messages.date}}
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="!newForm.form.valid">Dodaj</button>
      <button type="button" class="btn btn-default" (click)="goBack()">Anuluj</button>
    </form>
  </div>
</div>
