<div class="new-comment text-center">
  <form class="form" (ngSubmit)="addComment()" #commentForm="ngForm" *ngIf="authService.loggedUser()">
    <textarea name="comment" rows="4" [(ngModel)]="comment.text" #text="ngModel" required maxlength="160"></textarea>
    <div *ngIf="!(text.valid || text.untouched)" class="alert alert-danger">
      Musisz podać treść opinii
    </div>
    <div *ngIf="error_messages.text" class="alert alert-danger">
      Treść opinii {{error_messages.text}}
    </div>
    <div class="button-wrapper">
      <button class="btn pull-right" type="submit" name="button" [disabled]="!commentForm.form.valid">
        Dodaj opinię
      </button>
    </div>
    <div class="rating">
      <strong class="choice">Wystaw ocenę:</strong>
      <span class="stars">
        <input type="radio" name="rating" value="1" (click)="onRatingChanged(1)"/><i></i>
        <input type="radio" name="rating" value="2" (click)="onRatingChanged(2)"/><i></i>
        <input type="radio" name="rating" value="3" (click)="onRatingChanged(3)"/><i></i>
        <input type="radio" name="rating" value="4" (click)="onRatingChanged(4)"/><i></i>
        <input type="radio" name="rating" value="5" (click)="onRatingChanged(5)"/><i></i>
      </span>
    </div>
  </form>
  <a *ngIf="!authService.loggedUser()" class="btn" [routerLink]="['/login']">
    Zaloguj się, aby dodać własną opinię
  </a>
</div>
