<div *ngIf="comments_number > 0">
  <table class="table">
    <tbody>
      <tr *ngFor="let comment of active_comments">
        <td class="col-xs-4 metadata">
          <div><strong>{{comment.pub}}</strong></div>
          <div>{{comment.date | date: 'dd.MM.yyyy'}}</div>
          <div>
            <span *ngFor="let star of [].constructor(comment.rating); let i = index"
              class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
          </div>
        </td>
        <td class="col-xs-8">{{comment.text}}</td>
      </tr>
    </tbody>
  </table>
  <pagination [total_items]="comments.length"
              [items_per_page]="PAGE_SIZE"
              [current_page]="current_page" (on_click)="pageChanged($event)"></pagination>
</div>
<div *ngIf="comments_number === 0">
  <h3 class="text-center">Nie napisałeś jeszcze żadnej opinii</h3>
</div>
