<div class="offers">
  <pub-show-offer [offers]="offers" [full_options]="true" (on_delete)="onDelete($event)"></pub-show-offer>
  <div class="modal fade" id="confirm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" name="button">&times;</button>
          <h4>Ostrzeżenie</h4>
        </div>
        <div class="modal-body">
          <p>Czy na pewno usunąć piwo z oferty pubu?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" name="cancel">Anuluj</button>
          <button type="button" class="btn btn-danger" name="confirm"
          (click)="onConfirmationDelete()"
          >
          Usuń
        </button>
      </div>
    </div>
  </div>
</div>
</div>
