@import '../styles/main';

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $bg-dark;
  color: $text-color;
  text-align: center;

  a { color: $text-color;  }

  p {
    font: 0.9em sans-serif;
    margin: 1px 0 1px;
    line-height: 20px;
    span {
      display: inline-block;
      img { padding-bottom: 3px; }
    }
  }

  a.freepik {
    position: absolute;
    right: 10px;

    @media screen and (max-width: $xs-max) {
      position: static;
      display: block;
    }
  }
}
