@import '../../../assets/styles/main';

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $bg-dark;
  color: $text-color;
  text-align: center;

  p {
    font: 0.9em sans-serif;
    margin: 3px 0 1px;
    span {
      display: inline-block;
      a   { color: $text-color;  }
      img { padding-bottom: 3px; }
    }
  }
}
