<div class="container-fluid search">
  <div class="row main">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 text-left">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="city" class="col-xs-4">Miasto:</label>
          <div class="col-xs-8">
            <select class="form-control" [(ngModel)]="selected_city">
              <option *ngFor="let city of cities" [value]="city.name">
                {{city.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input [(ngModel)]="query" type="text" class="form-control" placeholder="Search">
          </div>
        </div>
        <button type="button" class="btn col-xs-12" (click)="search()">Szukaj</button>
      </form>
    </div>
  </div>
</div>
