@import '../common/styles/main';

.search {
  padding-top: 130px;

  label {
    padding: 7px 0 0 15px;
  }

  a {
    color: $text-color;
    background-color: $bg-dark;
    &:hover {
      color: $text-color;
    }
  }

}
