@import '../../assets/styles/main';

.search {
  height: 100%;
  padding-top: 150px;
  background: url('/assets/img/beer.jpg') 50% 50%;
  background-size: cover;

  label {
    padding-top: 7px;
  }

  button {
    color: $text-color;
    background-color: $bg-dark;
    &:hover {
      color: $text-color;
    }
  }

}
