@import '../../common/styles/main';

$list-border: rgba(140, 140, 140, 0.5);
$list-bg: rgba(220, 200, 20, 0.75);

.pub-list {
  margin-top: 30px;

  .list-header, .list-table {
    background-color: $list-bg;
  }

  .list-table {
    margin-top: 20px;
    border-style: hidden;

    td {
      border-top: 1px solid white;
    }

    tr:hover, tr:active {
      background-color: white;
      cursor: pointer;
    }
  }

  .thumb, .offer {
    @media screen and (max-width: $xs-max) { display: none; }
  }
}
