<div class="container pub-list">
  <div *ngIf="total_pubs > 0" class="row list-header text-center">
    <h2>Wyniki wyszukiwania</h2>
  </div>
  <div *ngIf="total_pubs > 0" class="row">
    <table class="list-table table table-hover">
      <tbody>
        <tr *ngFor="let pub of pubs"
            (click)="goToPub(pub.id)">
          <td class="col-sm-2"><div class="thumb"></div></td>
          <td class="col-xs-6 col-sm-3">
            <div class="pub-name">{{pub.name}}</div>
          </td>
          <td class="col-sm-5 address">{{pub.address}}</td>
          <td class="col-xs-6 col-sm-2 pub-info">
            <div>Ocena: {{ (pub.rating | number: '.1-1') || "brak"}}</div>
            <div><small>Komentarze: {{pub.comments}}</small></div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination [total_items]="total_pubs"
                [items_per_page]="10"
                [current_page]="current_page" (on_click)="pageChanged($event)"></pagination>
  </div>
  <div *ngIf="total_pubs === 0" class="text-center">
    <h3>Niestety, brak wyników. Spróbuj z innym zapytaniem</h3>
  </div>
</div>
