@import '../../common/styles/main';

$list-border: #ddd;
$list-bg: rgba(220, 200, 20, 0.75);

.pub-list {
  margin: 30px auto 60px auto;

  .list-header, .list-table {
    background-color: $list-bg;
  }

  .list-table {
    margin-top: 20px;
    border-style: hidden;

    td {
      border-top: 2px solid $list-border;
      .pub-name { font-size: 150%; }
    }

    tr:hover, tr:active {
      background-color: white;
      cursor: pointer;
    }
  }

  .thumb, .offer {
    @media screen and (max-width: $xs-max) { display: none; }
  }
}
