<div class="container pub-list">
  <div class="row list-header text-center">
    <h2>Wyniki wyszukiwania</h2>
  </div>
  <div class="row">
    <table class="list-table table table-hover">
      <tbody>
        <tr *ngFor="let pub of pubs | paginate: {
            totalItems: total_pubs, currentPage: current_page, itemsPerPage: 10
          }"
            (click)="goToPub(pub.id)">
          <td class="col-sm-1 thumb"><p>MINIATURKA</p></td>
          <td class="col-xs-6 col-sm-3">
            <div class="pub-name">{{pub.name}}</div>
          </td>
          <td class="col-sm-6 offer">Oferta</td>
          <td class="col-xs-6 col-sm-2">
            <div>Ocena: {{ (pub.rating | number: '.1-1') || "brak"}}</div>
            <div><small>Komentarze: {{pub.comments}}</small></div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)='pageChanged($event)' autoHide="true"></pagination-controls>
  </div>
</div>
